#override .wrapper {
    display: flex;
    align-items: stretch;
}

#override #sidebar {
    min-width: 250px;
    max-width: 250px;
    max-height: 100vh;
}

#override #sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}
