<!DOCTYPE html>
<html>

<%- include header.ejs %>

<body>

    <div class="wrapper">
        <div id="content">
            <%- include navigation.ejs %>

            <!-- Page Content  -->
            <h2>Blogs</h2>

        </div>
    </div>

    <%- include footer.ejs %>

</body>

</html>