        <!-- Sidebar  -->
        <nav id="sidebar">
            <div id="dismiss">
                <i class="fas fa-arrow-left"></i>
            </div>

            <div class="sidebar-header">
                <h3>Joseph</h3>
                <h3>Bauer</h3>
            </div>

            <ul class="list-unstyled components">
                <li>
                    <a href="/">Home</a>
                    <!-- <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="#">Home 1</a>
                        </li>
                        <li>
                            <a href="#">Home 2</a>
                        </li>
                        <li>
                            <a href="#">Home 3</a>
                        </li>
                    </ul> -->
                </li>
                <li>
                    <a href="/portfolio">Portfolio</a>
                </li>
            </ul>

            <ul class="list-unstyled CTAs">
                <li>
                    <a href="https://gitlab.com/bauerj">Gitlab</a>
                </li>
                <li>
                    <a href="https://www.instagram.com/bauerjoseph13/?hl=en">Instagram</a>
                </li>
            </ul>
        </nav>

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                    </button>
                    <p>Software & Web Developer</p>

                </div>
            </nav>