<!DOCTYPE html>
<html>

<%- include header.ejs %>

<body>

    <div class="wrapper">
        <div id="content">
            <%- include navigation.ejs %>

            <!-- Page Content  -->
            <h2>Portfolio</h2>

            <div class="row">
                <div class="col-lg-6 portfolio-item">
                  <div class="card h-100">
                    <a href="https://gitlab.com/bauerj/clashofTrash"><img class="card-img-top" src="images/clashoftrash.png" alt=""></a>
                    <div class="card-body">
                      <h4 class="card-title">
                        <a href="https://gitlab.com/bauerj/clashofTrash">Clash of Trash</a>
                      </h4>
                      <p class="card-text">This was a project I worked on at a hack-a-thon I competed up at Hyland. Originally, this project was going to be a web application but switch to an Andriod app halfway through. This became an informational site for the app.<p>
                      <a href="https://clashoftrash.github.io/">Link to Live Site</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 portfolio-item">
                  <div class="card h-100">
                    <a href="https://gitlab.com/bauerj/CS4540_SP2018_WCCC"><img class="card-img-top" src="images/WCCC_logo.png" alt=""></a>
                    <div class="card-body">
                      <h4 class="card-title">
                        <a href="https://gitlab.com/bauerj/CS4540_SP2018_WCCC"></a>Wood County Continuum of Care</a>
                      </h4>
                      <p class="card-text">This is a web application that I worked on with a team of other students for a client in the Bowling Green area. This project was made with Laravel, jQuery, Postgres, Docker and served with Nginx. I took charge of connecting the database up properly to everything, making the docker files so that the project can be deployed easily and fixing issues that would come up on the live server we had at the time.</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 portfolio-item">
                  <div class="card h-100">
                    <a href="https://gitlab.com/bauerj/othello"><img class="card-img-top" src="images/othello.png" alt=""></a>
                    <div class="card-body">
                      <h4 class="card-title">
                        <a href="https://gitlab.com/bauerj/othello">Othello</a>
                      </h4>
                      <p class="card-text">This is a CLI program that allows a player to play othello against an AI. This was a project that was assignmed to me in class, but it had a lot of bugs in it and didn't quite work at times. I'm currently working on making the AI a little smarter and writing some tests for the project. You can check out my commits and issues to see where I'm at.</p>
                    </div>
                  </div>
                </div>

                <!-- <div class="col-lg-6 portfolio-item">
                  <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                    <div class="card-body">
                      <h4 class="card-title">
                        <a href="#">Project Four</a>
                      </h4>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit aliquam aperiam nulla perferendis dolor nobis numquam, rem expedita, aliquid optio, alias illum eaque. Non magni, voluptates quae, necessitatibus unde temporibus.</p>
                    </div>
                  </div>
                </div>
              </div> -->
              <!-- /.row -->

        </div>
    </div>

    <%- include footer.ejs %>

</body>

</html>